body {
    background: #111;
  }
  
  .body {
    --duration: 3s;
    --angle: 45deg;
    --circular-ease: cubic-bezier(.37, 0, .63, 1);
    --circle-delay: calc(var(--duration) / 3.97);
    --distance: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20dvmin;
    height: 20dvmin;
    background: radial-gradient(
      circle at center,
      skyblue,
      mediumblue 50%
    );
    background-size: 200% 200%;
    background-position: left top;
    border-radius: 50%;
    animation:
      x
        var(--duration)
        infinite var(--circular-ease),
      y
        var(--duration)
        var(--circle-delay)
        infinite var(--circular-ease);
  }
  
  @keyframes x {
    50% {
      background-position-x: calc(150% * sin(var(--angle)));
    }
  }
  
  @keyframes y {
    50% {
      background-position-y: calc(150% * cos(var(--angle)));
    }
  }